services:
  app:
    build:
      context: .
      # dockerfile: Dockerfile.nobuildkit
      dockerfile: Dockerfile
    image: y2a-auto:local
    container_name: y2a-auto
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      - ./config:/app/config
      - ./db:/app/db
      - ./downloads:/app/downloads
      - ./logs:/app/logs
      - ./cookies:/app/cookies
      - ./temp:/app/temp
    environment:
      - TZ=Asia/Shanghai
      - PYTHONIOENCODING=utf-8