flask==3.1.1
werkzeug==3.1.3
yt-dlp
Pillow==11.2.1
openai
ffmpeg-python
numpy>=1.24.0
torch==2.6.0
alibabacloud_green20220302==2.20.4
alibabacloud_tea_openapi==0.3.15
alibabacloud_tea_util==0.3.13
APScheduler==3.11.0
flask-cors
requests==2.32.4
urllib3>=1.26.0
python-dotenv
pytz
google-api-python-client==2.116.0
websockets
